main>.container {
    width: 300px;
}

input[type='number'] {
    width: calc(100% - 20px);
    padding: 8px;
}

button[data-notification] {
    width: 100%;
    padding: 2px;
    margin-top: 8px;
}

fieldset {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 10px;
}